services:
  certbot:
    image: certbot/certbot
    container_name: certbot
    ports:
      - "80:80"
      - "443:443"
    command: certonly --standalone --email your@email.address --agree-tos -d your.domain.here
    volumes:
      - ./result:/etc/letsencrypt/archive
      - ./certbot/letsencrypt:/etc/letsencrypt
      - ./certbot/logs:/var/log/letsencrypt